.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: border-box;
    padding: 0;

    &:hover {
        .image {
            filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.2));
        }
        text-shadow: 3px 3px 3px rgb(0 0 0 / 0.2);
        cursor: pointer;
    }
}
