$color-text-secondary: #585f74;
$color-text-control: #0a68f5;

.loginWidget {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 24px;
    padding: 1.5rem;
    width: 25rem;
    height: fit-content;
    background-color: white;
    margin: auto;
    .title {
        font-family: 'Manrope';
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .footer {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15000000596046448px;
        text-align: center;
        color: $color-text-secondary;
    }
    .link {
        color: $color-text-control;
        padding: 10px 0px 10px 0px;
        text-decoration: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
