.boardSwitch {
    display: flex;
    gap: 1rem;
    padding: 1.125rem 0.75rem 1.125rem 0rem;
    align-items: center;

    color: var(--text-text-primary, #16181d);
    text-align: center;
    /* Body/Default Medium */
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
}
