.btn {
    display: flex;
    gap: 10px;
    background-color: var(--controls-btn-primary);
    width: 100%;
    height: 48px;
    border-radius: 100px;
    border: none;
    padding: 10px 24px 10px 16px;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

    color: #ffffff;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 2px 5px 0px rgb(73 73 73 / 40%);
    }
}
