.taskItem {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow:
        0px 2px 10px 3px rgba(4, 42, 98, 0.12),
        0px 1px 2px 0px rgba(4, 42, 98, 0.12);

    &:empty {
        height: 50px;
        width: 100%;
        background: transparent;
        box-shadow: none;
    }

    .taskTags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        overflow: hidden;
        width: 100%;
    }

    .taskTitle {
        color: var(--text-text-primary, #16181d);
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        align-self: stretch;
    }

    .taskDescription {
        align-self: stretch;
        color: var(--text-text-secondary, #585f74);
        font-family: Manrope;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .date {
        color: var(--text-text-secondary, #585f74);
        font-family: Manrope;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.875rem;
    }
}

.taskList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.tag {
    --tag-color: #f3f4f6;

    border-radius: 6px;
    padding: 6px 12px;
    transition: opacity 0.2s;
    color: var(--text-text-primary, #16181d);
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;

    background-color: var(--tag-color);

    opacity: 0.8;
    &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 1px 0px var(--tag-color);
        opacity: 0.9;
    }
}

.blur {
    position: fixed;
    z-index: 98;
    inset: 0;
    opacity: 0.5;
    background: var(--primary-primary-2, #00040a);
}

.taskModal {
    display: flex;
    position: absolute;
    z-index: 99;
    inset: 0;
    margin: 10rem auto;
    width: 500px;
    height: fit-content;

    padding: 2rem;

    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    border-radius: 0.75rem;
    background: #fff;
    box-shadow:
        0px 2px 10px 3px rgba(4, 42, 98, 0.12),
        0px 1px 2px 0px rgba(4, 42, 98, 0.12);
    form {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 1.5rem;
    }
    .actions {
        display: flex;
        gap: 0.75rem;
        width: 100%;
        justify-content: flex-end;
    }
    &:invalid {
        outline: var(--color-danger, #b81427);
    }

    .taskTitle {
        color: var(--text-text-primary, #16181d);
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        align-self: stretch;
    }

    .taskDescription {
        align-self: stretch;
        color: var(--text-text-secondary, #585f74);
        font-family: Manrope;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .date {
        color: var(--text-text-secondary, #585f74);
        font-family: Manrope;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.875rem;
    }

    .param {
        display: grid;
        grid-template-columns: 5rem 1fr;
        align-items: center;
        align-self: stretch;
        gap: 2rem;
        .textarea {
            resize: none;
            columns: 5;
        }
        .input {
            display: flex;
            align-items: flex-start;
            padding: 0.5rem;
            gap: 0.25rem;
            flex: 1 0 0;
            border-radius: 0.625rem;
            border: 1px solid var(--stroke-stroke-input, #8b92a7);
        }
    }
}

.btnPrimary {
    color: var(--text-text-on-color, #fff);
    text-align: center;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;

    display: flex;
    width: 10rem;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    border: none;
    background: var(--controls-primary-controls-primary, #0a68f5);

    &:hover {
        cursor: pointer;
    }
}

.btnSecondary {
    color: var(--text-text-control, #0a68f5);
    text-align: center;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;

    display: flex;
    width: 10rem;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 6.25rem;
    border: none;
    background: var(--controls-secondary-controls-secondary, #cee1fd);
    &:hover {
        cursor: pointer;
    }
}
